$transition-effects: color 1s ease, background-color 1s ease;
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@media (max-width: 1630px) {
body {
	background-color: #eee;
	transition: $transition-effects;
	font-family: 'Exo', sans-serif;
	&.dark {
		background-color: #202123;
		color: #fff;
		nav {
			background-color: #26A69A;
			

		}
		.card {
			background-color: rgba(255,255,255,0.2);
		}
		.btn {
			background-color: #EE6F73;
		}
		.divider {
			opacity: 0.2;
		}

		.card {
			background-color: black;
		}

		.card-content {
			background-color: black;
		}

		.card-reveal {
			background-color: black;
		}
		.sidenav {
			background-color: #2D2D31;
			li {
				a {
					&:not(.subheader){
						color: #89B2F5;
						&:hover {
							background-color: #3B4043;
						}
					}
					&.subheader {
						color:#9AA0A6; 
					}
					.material-icons {
						color: #9AA0A6;
					}
				}
			}
		}
		.collection {
			border: 1px solid rgba(255,255,255,0.2);
			.collection-item {
				background-color: rgba(255,255,255,0.2);
				border-bottom: 1px solid rgba(255,255,255,0.2);;
			}
		}
	}





	.page-footer {
		// position:;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #26A69A;
		text-align: center;
	  }


	}

.page-footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: center;
  }

  nav {
	background-color: black;
	// height: 15vh;
	
}

  



#landing{

	 // background-attachment: fixed;
	z-index: -1;
	// background-image: url('image/hero.png'); 
	background-position: center;
	background-size: cover; 
	height:100vh;
	background-repeat: no-repeat;
	// background-size: contain;
	// position: relative;

	width: 100%;


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png");
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png"); 
	background-repeat: no-repeat;
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
//   @media only screen and (min-width: 768px) {
// 	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png"); 
// 	background-repeat: no-repeat;
//   } 

  /* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png"); 
	background-repeat: no-repeat;
}

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png"); 
	background-repeat: no-repeat;
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/hero.png");  
	background-repeat: no-repeat;
  }

	*, *::after, *::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	  }
	  
	  html * {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	  }
	  
	  html {
		font-size: 62.5%;
	  }
	  
	  .cd-title {
		position: relative;
		height: 160px;
		line-height: 230px;
		text-align: center;
	  }
	  .cd-title h1 {
		font-size: 2.4rem;
		font-weight: 700;
	  }	  

	  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.cd-title {
		height: 200px;
		line-height: 300px;
	  }
	  .cd-title h1 {
		font-size: 3rem;
	  }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	.cd-title {
		height: 200px;
		line-height: 300px;
	  }
	  .cd-title h1 {
		font-size: 3rem;
	  }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.cd-title {
		height: 200px;
		line-height: 300px;
	  }
	  .cd-title h1 {
		font-size: 3rem;
	  }
}
// @media only screen and (min-width: 768px) {
// 	.cd-title {
// 		height: 200px;
// 		line-height: 300px;
// 	  }
// 	  .cd-title h1 {
// 		font-size: 3rem;
// 	  }
// }

  @media only screen and (min-width: 1170px) {
	.cd-title {
	  height: 200px;
	  line-height: 300px;
	}
	.cd-title h1 {
	  font-size: 3rem;
	}
  }

	cd-intro {
		width: 90%;
		max-width: 768px;
		text-align: center;
	  }
	  
	  .cd-intro {
		margin: 4em auto;
	  }
	  @media only screen and (min-width: 768px) {
		.cd-intro {
		  margin: 5em auto;
		}
	  }
	  @media only screen and (min-width: 1170px) {
		.cd-intro {
		  margin: 6em auto;
		}
	  }
	  
	  .cd-headline {
		font-size: 3rem;
		line-height: 1.2;
	  }
	  @media only screen and (min-width: 768px) {
		.cd-headline {
		  font-size: 4.4rem;
		  font-weight: 300;
		}
	  }
	  @media only screen and (min-width: 1170px) {
		.cd-headline {
		  font-size: 6rem;
		}
	  }
	  
	  .cd-words-wrapper {
		display: inline-block;
		position: relative;
		text-align: center;
		
	  }
	  .cd-words-wrapper b {
		display: inline-block;
		position: absolute;
		word-wrap: break-word;
		// white-space: nowrap;
		left: 0;
		top: 0;
	  }
	  .cd-words-wrapper b.is-visible {
		position: relative;
	  }
	  .no-js .cd-words-wrapper b {
		opacity: 0;
	  }
	  .no-js .cd-words-wrapper b.is-visible {
		opacity: 1;
	  }
	  
/* -------------------------------- 

xloading-bar 

-------------------------------- */
.cd-headline.loading-bar span {
	display: inline-block;
	padding: .2em 0;
  }
  .cd-headline.loading-bar .cd-words-wrapper {
	overflow: hidden;
	vertical-align: top;
  }
  .cd-headline.loading-bar .cd-words-wrapper::after {
	/* loading bar */
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #0096a7;
	z-index: 2;
	-webkit-transition: width 0.3s -0.1s;
	-moz-transition: width 0.3s -0.1s;
	transition: width 0.3s -0.1s;
  }
  .cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
	width: 100%;
	-webkit-transition: width 3s;
	-moz-transition: width 3s;
	transition: width 3s;
  }
  .cd-headline.loading-bar b {
	top: .2em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
  }
  .cd-headline.loading-bar b.is-visible {
	opacity: 1;
	top: 0;
  }
   


	.circles{
		// position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
	}
	
	.circles li{
		position: absolute;
		display: block;
		list-style: none;
		width: 20px;
		height: 20px;
		background: rgba(255, 255, 255, 0.2);
		animation: animate 25s linear infinite;
		bottom: -150px;
		
	}
	
	.circles li:nth-child(1){
		left: 25%;
		width: 80px;
		height: 80px;
		animation-delay: 0s;
	}
	
	
	.circles li:nth-child(2){
		left: 10%;
		width: 20px;
		height: 20px;
		animation-delay: 2s;
		animation-duration: 12s;
	}
	
	.circles li:nth-child(3){
		left: 70%;
		width: 20px;
		height: 20px;
		animation-delay: 4s;
	}
	
	.circles li:nth-child(4){
		left: 40%;
		width: 60px;
		height: 60px;
		animation-delay: 0s;
		animation-duration: 18s;
	}
	
	.circles li:nth-child(5){
		left: 65%;
		width: 20px;
		height: 20px;
		animation-delay: 0s;
	}
	
	.circles li:nth-child(6){
		left: 75%;
		width: 110px;
		height: 110px;
		animation-delay: 3s;
	}
	
	.circles li:nth-child(7){
		left: 35%;
		width: 150px;
		height: 150px;
		animation-delay: 7s;
	}
	
	.circles li:nth-child(8){
		left: 50%;
		width: 25px;
		height: 25px;
		animation-delay: 15s;
		animation-duration: 45s;
	}
	
	.circles li:nth-child(9){
		left: 20%;
		width: 15px;
		height: 15px;
		animation-delay: 2s;
		animation-duration: 35s;
	}
	
	.circles li:nth-child(10){
		left: 85%;
		width: 150px;
		height: 150px;
		animation-delay: 0s;
		animation-duration: 11s;
	}

}


#mainText{
	margin-top: 30vh;
}

#intro{
	margin-top: 50px;
}

#work{
	background-color: rgb(61,61,61);
}

#p1{
	height: 350px;
}

.zoom {
	/* padding: 50px; */
	/* background-color: black; */
	transition: transform .2s; /* Animation */
	/* width: 400px;
	height: 400px; */
	margin: 0 auto;
  
}
.zoom:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .tracking-in-contract {
	  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
			  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

/* ----------------------------------------------
* Generated by Animista on 2020-9-12 12:34:41
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-contract
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-contract {
0% {
  letter-spacing: 1em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  letter-spacing: normal;
  opacity: 1;
}
}
@keyframes tracking-in-contract {
0% {
  letter-spacing: 1em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  letter-spacing: normal;
  opacity: 1;
}


}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 15%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 15%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}


}