$transition-effects: color 1s ease, background-color 1s ease;

body {
	background-color: #eee;
	transition: $transition-effects;
	&.dark {
		background-color: #202123;
		color: #fff;
		nav {
			background-color: #26A69A;
			

		}
		.card {
			background-color: rgba(255,255,255,0.2);
		}
		.btn {
			background-color: #EE6F73;
		}
		.divider {
			opacity: 0.2;
		}

		.card {
			background-color: black;
		}

		.card-content {
			background-color: black;
		}

		.card-reveal {
			background-color: black;
		}
		.sidenav {
			background-color: #2D2D31;
			li {
				a {
					&:not(.subheader){
						color: #89B2F5;
						&:hover {
							background-color: #3B4043;
						}
					}
					&.subheader {
						color:#9AA0A6; 
					}
					.material-icons {
						color: #9AA0A6;
					}
				}
			}
		}
		.collection {
			border: 1px solid rgba(255,255,255,0.2);
			.collection-item {
				background-color: rgba(255,255,255,0.2);
				border-bottom: 1px solid rgba(255,255,255,0.2);;
			}
		}
	}


	.page-footer {
		// position:;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #26A69A;
		text-align: center;
	  }


	}

.page-footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: center;
  }

  nav {
	background-color: black;
	// height: 15vh;
	
}

// body {
// 	background-color:white;
// 	color: black;
// 	// Styles for 200px (or less) height
// 	@media screen and ( max-height: 500px ){
// 	  background-color:black;
// 	  color: white;
// 	}
//   }
//   nav {
// 	background-color:green;
// 	a {color:yellow!important;}
// 	// Styles for 200px (or less) height
// 	@media screen and ( max-height: 500px ){
// 	  background-color:#454545;
// 	  a {color:red!important;}
// 	}
//   }
  
  

#landing{
	@media (min-width: 200px){
		background-image: url('image/scree.png');
	}
	@media (min-width: 576px)  {
			background-image: url('image/scree.png');
		}

		@media ( min-width: 768px) {
			background-image: url('image/head.png');
		}
		@media (min-width: 992px) {
				background-image: url('image/head.png');
			}
			
	height: 100vh;
	// background-image: url('image/head.png');
	background-repeat:no-repeat ;
    background-position: top center;
    background-size: cover;
	background-attachment: fixed;
	z-index: -1;
	
}

#mainText{
	margin-top: 30vh;
}

#intro{
	margin-top: 50px;
}

#work{
	background-color: rgb(61,61,61);
}

#p1{
	height: 350px;
}

.zoom {
	/* padding: 50px; */
	/* background-color: black; */
	transition: transform .2s; /* Animation */
	/* width: 400px;
	height: 400px; */
	margin: 0 auto;
  
}
.zoom:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .tracking-in-contract {
	  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
			  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

/* ----------------------------------------------
* Generated by Animista on 2020-9-12 12:34:41
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-contract
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-contract {
0% {
  letter-spacing: 1em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  letter-spacing: normal;
  opacity: 1;
}
}
@keyframes tracking-in-contract {
0% {
  letter-spacing: 1em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  letter-spacing: normal;
  opacity: 1;
}


}